<!DOCTYPE html>
<html>
<head>
    {% include 'head.html' %}
    <title>Borrar Inmueble</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Borrar Inmueble</h1>
    <form method="post">
        {% csrf_token %}
        <table class="table table-bordered">
            <tbody>
                {% for field in form %}
                <tr>
                    <td>
                        {{ field.label_tag }}
                    </td>
                    <td>
                        {{ field }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit">Borrar</button>
    </form>
    {% include 'footer.html' %}
</body>
</html>