<!doctype html>
<html lang="en">

<head>
{% include 'head.html'%}
<title>Detalle del Inmueble: {{ inmueble.inm_nombre }}</title>
</head>

<body>
{% include 'navbar.html' %}
  
  <div class="card mb-3" width="380" height="280">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ inmueble.inm_url }}" class="img-fluid rounded-start" alt="{{ inmueble.inm_nombre }}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">{{ inmueble.inm_nombre }}</h3>
          <p class="card-text">{{ inmueble.inm_descripcion }}</p>
          <p class="card-text"><b>m2_construidos:</b> {{ inmueble.inm_m2_construidos }}</p>
          <p class="card-text"><b>m2_totales:</b> {{ inmueble.inm_m2_totales }}</p>
          <p class="card-text"><b>Estacionamientos:</b> {{ inmueble.inm_estacionamientos }}</p>
          <p class="card-text"><b>Habitaciones:</b> {{ inmueble.inm_habitaciones }}</p>
          <p class="card-text"><b>Baños:</b> {{ inmueble.inm_banos }}</p>
          <p class="card-text"><b>Direccion:</b> {{ inmueble.inm_direccion }}</p>
          <p class="card-text"><b>Precio:</b> ${{ inmueble.inm_precio }}</p>
          <p class="card-text"><b>Comuna:</b> {{ inmueble.fk_com }}</p>
          <p class="card-text"><b>Region:</b> {{ inmueble.fk_reg }}</p>
          <p class="card-text"><b>Tipo de Inmueble:</b> {{ inmueble.fk_ti }}</p>
        </div>
      </div>
    </div>
  </div>

  {% include 'footer.html'%}
</body>

</html>