<!DOCTYPE html>
<html lang="en">

<head>
{% include 'head.html' %}
<title>Listado Inmuebles</title>
</head>

<body>
{% include 'navbar.html' %}

    <h1>Listado Inmuebles</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id del Inmueble</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">m2 Contruidos</th>
                <th scope="col">m2 Totales</th>
                <th scope="col">Estacionamientos</th>
                <th scope="col">Habitaciones</th>
                <th scope="col">Baños</th>
                <th scope="col">Direccion</th>
                <th scope="col">Precio</th>
                <th scope="col">Comuna</th>
                <th scope="col">Region</th>
                <th scope="col">Tipo</th>
            </tr>
        </thead>
        <tbody>
            {% for inmueble in inmueble %}
            <tr>
                <td>{{inmueble.inm_id}}</td>
                <td>{{inmueble.inm_nombre}}</td>
                <td>{{inmueble.inm_descripcion}}</td>
                <td>{{inmueble.inm_m2_construidos}}</td>
                <td>{{inmueble.inm_m2_totales}}</td>
                <td>{{inmueble.inm_estacionamientos}}</td>
                <td>{{inmueble.inm_habitaciones}}</td>
                <td>{{inmueble.inm_banos}}</td>
                <td>{{inmueble.inm_direccion}}</td>
                <td>{{inmueble.inm_precio}}</td>
                <td>{{inmueble.fk_com}}</td>
                <td>{{inmueble.fk_reg}}</td>
                <td>{{inmueble.fk_ti}}</td>

                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    {% include 'footer.html' %}


</body>

</html>
