<!DOCTYPE html>
<html>
<head>
    {% include 'head.html' %}
    <title>Modificar Usuario</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Modificar Usuario</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <table class="table table-bordered">
            <tbody>
                {% for field in form %}
                <tr>
                    <td>
                        {{ field.label_tag }}
                    </td>
                    <td>
                        {{ field }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit">Modificar</button>
    </form>
    {% include 'footer.html' %}

</body>

</html>