<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  {% load static %}
  <a class="navbar-brand" href="/">
    <img src="{% static 'img/logo01.png' %}" alt="Arriendo de Propiedades" style="width: 80px; height: 80px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">
      {% if usuario.fk_tu.tu_id == 2 %} <!-- 2=Arrendador -->
      <li class="nav-item">
        <a class="nav-link" href="/crear_inmueble">Crear Inmueble</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/modificar_inmueble">Modificar Inmueble</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/borrar_inmueble">Borrar Inmueble</a>
      </li>
      
      {% elif usuario.fk_tu.tu_id == 1 %} <!-- 2=Arrendatario -->
      <li class="nav-item">
        <a class="nav-link" href="/listado_inmueble">Listado de Inmuebles</a>
      </li>

      {% elif usuario.fk_tu.tu_id == 3 %} <!-- 3=Administrador (Mauricio)-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Menu Admin
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/crear_comuna/">Crear Comuna</a></li>
          <li><a class="dropdown-item" href="/crear_usuario/">Crear Usuario</a></li>
          <li><a class="dropdown-item" href="/crear_tipo_usuario">Crear Tipo Usuario</a></li>
          <li><a class="dropdown-item" href="/crear_region">Crear Region</a></li>
          <li><a class="dropdown-item" href="/crear_tipo_inmueble">Crear Tipo Inmueble</a></li>
          <li><a class="dropdown-item" href="/modificar_usuario">Modificar Usuario</a></li>
          <li><a class="dropdown-item" href="/borrar_usuario">Borrar Usuario</a></li>
          <li><a class="dropdown-item" href="/asignar_comuna_a_inmueble">Asignar Comuna a Inmueble</a></li>
          <li><a class="dropdown-item" href="/asignar_region_a_inmueble">Asignar Region a Inmueble</a></li>
          <li><a class="dropdown-item" href="/asignar_tipo_a_usuario">Asignar Tipo a Usuario</a></li>
          <li><a class="dropdown-item" href="/asignar_inmueble_a_usuario">Asignar Inmueble a Usuario</a></li>
          <li><a class="dropdown-item" href="/listado_usuario">Listado Usuarios</a></li>
          <li><a class="dropdown-item" href="/admin/">Administrador</a></li>
          <li><a class="dropdown-item" href="/crear_auth_user/">Crear Auth User</a></li>
          <li><a class="dropdown-item" href="/crear_inmueble/">Crear Inmueble</a></li>
          <li><a class="dropdown-item" href="/modificar_inmueble/">Modificar Inmueble</a></li>
          <li><a class="dropdown-item" href="/borrar_inmueble/">Borrar Inmueble</a></li>
          <li><a class="dropdown-item" href="/listado_inmueble">Listado de Inmuebles</a></li>
        </ul>
      </li>
      {% endif %}
    </ul>

    <ul class="navbar-nav ms-auto">
      {% if user.is_authenticated %}
      <li class="nav-item text-light">Nombre de Usuario: {{user.get_username}} ({{ usuario.fk_tu.tu_tipo }}) &emsp;</li>
      <form class="form-inline my-2 my-lg-0 ml-2" action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Cerrar Sesión</button>
      </form>
      {% else %}
      <form class="form-inline my-2 my-lg-0" action="{% url 'login' %}">
        {% csrf_token %}
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Iniciar sesión</button>
      </form>
      {% endif %}
    </ul>
  </div>
</nav>